data/

experiments/egemaps/random_forest/default/aleatorio/local_data/
experiments/egemaps/random_forest/default/aleatorio/results/
experiments/egemaps/random_forest/default/aleatorio_mix_val/
experiments/egemaps/random_forest/default/aleatorio_mix_val/results/
experiments/egemaps/random_forest/default/all_audio/local_data/
experiments/egemaps/random_forest/default/all_audio/results/
experiments/egemaps/random_forest/default/gentle_avg_IPU_0.5/local_data/
experiments/egemaps/random_forest/default/gentle_avg_IPU_0.5/results/
experiments/egemaps/random_forest/default/gentle_avg_IPU_0.25/local_data/
experiments/egemaps/random_forest/default/gentle_avg_IPU_0.25/results/
experiments/egemaps/random_forest/default/gentle_IPU_0.5/local_data/
experiments/egemaps/random_forest/default/gentle_IPU_0.5/results/
experiments/egemaps/random_forest/default/gentle_IPU_0.25/local_data/
experiments/egemaps/random_forest/default/gentle_IPU_0.25/results/
experiments/egemaps/random_forest/default/gentle_non_speech/local_data/
experiments/egemaps/random_forest/default/gentle_non_speech/results/
experiments/egemaps/random_forest/default/gentle_non_speech/local_data/
experiments/egemaps/random_forest/default/gentle_non_speech/results/
experiments/egemaps/random_forest/default/gentle_speech/local_data/
experiments/egemaps/random_forest/default/gentle_speech/results/
experiments/egemaps/random_forest/default/gentle_speech/local_data/
experiments/egemaps/random_forest/default/gentle_speech/results/
experiments/egemaps/random_forest/default/silero_avg_IPU_0.5/local_data/
experiments/egemaps/random_forest/default/silero_avg_IPU_0.5/results/
experiments/egemaps/random_forest/default/silero_avg_IPU_0.25/local_data/
experiments/egemaps/random_forest/default/silero_avg_IPU_0.25/results/
experiments/egemaps/random_forest/default/silero_IPU_0.5/local_data/
experiments/egemaps/random_forest/default/silero_IPU_0.5/results/
experiments/egemaps/random_forest/default/silero_IPU_0.25/local_data/
experiments/egemaps/random_forest/default/silero_IPU_0.25/results/
experiments/egemaps/random_forest/default/silero_avg_IPU_0.5/local_data/
experiments/egemaps/random_forest/default/silero_avg_IPU_0.5/results/
experiments/egemaps/random_forest/default/silero_no_speech/local_data/
experiments/egemaps/random_forest/default/silero_no_speech/results/
experiments/egemaps/random_forest/default/silero_speech/local_data/
experiments/egemaps/random_forest/default/silero_speech/results/

experiments/egemaps/linear_regression/default/aleatorio/local_data/
experiments/egemaps/linear_regression/default/aleatorio/results/

experiments/egemaps/linear_regression/default/aleatorio_mix_val/local_data/
experiments/egemaps/linear_regression/default/aleatorio_mix_val/results/

experiments/feature_data/

EXTERNAL_DATA/

global_results/egemaps_random_forest_default_importance.csv
global_results/egemaps_random_forest_default_performance.csv
global_results/egemaps_random_forest_default_relevant_features.csv
global_results/egemaps_random_forest_default_silero_importance.csv
global_results/egemaps_random_forest_default_silero_performance.csv
global_results/egemaps_random_forest_default_silero_relevant_features.csv